{
  "queries": [
    {
      "searchCode": "201309$[RD]",
      "templateName": "A_final.docx",
      "addYears": 5
    },
    {
      "searchCode": "200909$[RD] AND LIVE[LD]",
      "templateName": "B_final.docx",
      "addYears": 9
    },
    {
      "searchCode": "199909$[RD] AND LIVE[LD]",
      "templateName": "C_final.docx",
      "addYears": 19
    }
  ]
}
